/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.containerr{
    position: relative;
    width: 95%;
    border-radius: 6px;
     padding: 20px;   
     margin:30PX 20px;
    background-color: rgba(255, 255, 255, 0.95);
     backdrop-filter:blur(5px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.containr{
    position: relative;
    width: 60vw;
    border-radius: 6px;
     padding: 20px;   
     margin:30PX 20px;
    background-color: rgba(255, 255, 255, 0.95);
     backdrop-filter:blur(5px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.containerrr{
    position: relative;
    /* width: 50%; */
    border-radius: 6px;
    padding: 0 20px;
    margin:50PX 20px;
    background-color: rgba(255, 255, 255, 0.95);
     backdrop-filter:blur(5px);
    
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.containerr header,.containerrr header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
.containerr header::before, .containerrr header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #f44336;
}
.containerr form,
    .containerr form{
    
    position: relative;
    min-height: 480px;
    /* background-color:#73ac41 ; */
    overflow: hidden;
}
.containerr form .form,
    .containerr form .form{
    position: absolute;
    background-color: transparent;
    transition: 0.3s ease;
}
.containerr form .form.second,
    .containerr form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.containerr form .title,
    .containerrr form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #000;
}
.containerr form .fields,
    .containerrr form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
    
}
form .fields .input-fields{
    display: flex;
    width: calc(100% / 2 - 15px);
    flex-direction: column;
    margin: 4px 0;
    
}
.input-field label,
    .input-fields label{
    font-size: 12px;
    font-weight: 500;
    color: #000;
}
.input-field input::placeholder,
    .input-fields input::placeholder{
    color: #000;
opacity: 50%;}
.input-field input, select,
    .input-fields input,textarea, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, .50); 
    padding: 0px 15px;
    height: 42px;
    margin: 8px 0;
    background: none;
}

.input-field input :focus,
.input-fields input :focus,
.input-fields select:focus,
    .input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select option,
    .input-fields select option{
    color: black;
}
.form-control[data-input]::-webkit-calendar-picker-indicator{text-decoration: #000;}

.input-field input[type="file"]{
    color: rgba(0, 0, 0, 0.5);
}


.input-field input[type="date"]{
    color: rgba(0, 0, 0, .5);
}
.input-field input[type="date"]:valid{
    color: #000;
}
.containerr form button, .backBtn, .submitBtn, .containerr form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 50px;
    
    margin: 25px 0;
    background-color: #0d6efd;
    transition: all 0.3s linear;
    cursor: pointer;
}
.containerr form .btnText,
    .containerr form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: #0154d2;
    
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}

@media (max-width: 750px) {
    .containerr form,
        .containerr form{
        overflow-y: scroll;
    }
    .containerr form::-webkit-scrollbar,
        .containerr form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field,
        form .fields .input-fields{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-fields,
        form .fields .input-field{
        width: 100%;
    }
}