/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    position: relative;
}

.header{
     min-height: 100vh;
    width: 100%;
   
    
}



/*------nav-bar-start------*/




nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
/*    background:green;*/

}
nav a{display: flex;
align-items: center;
    text-decoration: none
}
nav a img {
    width: 110px;
    padding-top: 18px
}
nav a H1{
    color: white;
    text-align: left;
    transform: translate(-21px);
}



.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}
.nav-btn{
    border: 1px solid white;
     cursor: pointer;
    padding: 12px 34px;
    background: transparent;
    color: white;
    transition: 1s;
}
.nav-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
   
}




/*------nav-bar-ends------*/
.CONTENT{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin:0PX 15px;
    margin-bottom: 100PX;
    background-color: rgb(0, 0, 0);
     backdrop-filter:blur(5px);
    
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #f44336;
}
.container form{
    
    position: relative;
    margin-top: 16px;
    min-height: 700px;
    background-color: transparent;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: transparent;
    transition: 0.3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #fff;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
    
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}
.input-field input::placeholder{color: #fff;
opacity: 50%;}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, .50); 
    padding: 0px 15px;
    height: 42px;
    margin: 8px 0;
    background: none;
}

.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select option{
    color: black;
}
.form-control[data-input]::-webkit-calendar-picker-indicator{text-decoration: white;}


.input-field input[type="date"]{
    color: rgba(255, 255, 255, .5);
}
.input-field input[type="date"]:valid{
    color: #fff;
}
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 50px;
    
    margin: 25px 0;
    background-color: #f5554a;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: #f44336;
    
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}